[UNIT]
Description:Spring

[Service]
User=Spring
WorkingDirectory=/home/spring/
ExecStart=/usr/bin/java - jar /home/spring/app.jar

[Install]
WantedBy=multi-user-target
